@font-face {
  font-family: 'Aquawax Pro';
  font-display: swap;
  src: url('../fonts/Aquawax-Pro-Bold.woff2') format('woff2');
  src: url('../fonts/Aquawax-Pro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aquawax Pro';
  font-display: swap;
  src: url('../fonts/Aquawax-Pro-DemiBold.woff2') format('woff2');
  src: url('../fonts/Aquawax-Pro-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Aquawax Pro';
  font-display: swap;
  src: url('../fonts/Aquawax-Pro-Medium.woff2') format('woff2');
  src: url('../fonts/Aquawax-Pro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Aquawax Pro';
  font-display: swap;
  src: url('../fonts/Aquawax-Pro-Regular.woff2') format('woff2');
  src: url('../fonts/Aquawax-Pro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aquawax Pro';
  font-display: swap;
  src: url('../fonts/Aquawax-Pro-UltraBold.woff2') format('woff2');
  src: url('../fonts/Aquawax-Pro-UltraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Aquawax Pro';
  font-display: swap;
  src: url('../fonts/Aquawax-Pro-Heavy.woff2') format('woff2');
  src: url('../fonts/Aquawax-Pro-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
