.second-head {
  background-color: #005494;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;

  .external {
    @media (max-width: 1199px) {
      margin-left: 106px !important;
      margin-top: 10px;
    }
  }

  .head {
    font-size: 21px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 154px;
    text-transform: uppercase;

    @media (max-width: 1500px) {
      margin-left: 90px;
    }

    @media (max-width: 1199px) {
      margin-left: 106px;
    }

    a {
      color: #ffffff;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#main-nav {
  padding-top: 0px;
  padding-bottom: 0px;

  @media screen and (max-width: 1199px) and (min-width: 992px) {
    padding: 0px;
  }

  .logo {
    position: relative;
    width: 311px;
    height: 1px;
    display: flex;

    @media (max-width: 1500px) {
      width: 130px;
    }

    @media (max-width: 1199px) {
      width: 1px;
    }
    @media (max-width: 991px) {
      width: 320px;
    }

    @media (max-width: 450px) {
      width: 200px;
    }

    .logo-link {
      display: block;
      width: 100px;
      height: 100px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
      border-radius: 62px;
      position: absolute;
      top: -65px;
      left: 18px;
      z-index: 100;

      img {
        width: 88px;
        height: 88px;
        margin-top: 6px;
        margin-left: 6px;
      }

      @media (max-width: 1500px) {
        width: 60px;
        height: 60px;
        left: 0px;
        top: -73px;

        img {
          width: 48px;
          height: 48px;
          margin-top: 6px;
          margin-left: 6px;
        }
      }

      @media (max-width: 1199px) {
        width: 84px;
        height: 84px;
        top: -104px;
        left: 0px;

        img {
          width: 72px;
          height: 72px;
          margin-top: 6px;
          margin-left: 6px;
        }
      }

      @media (max-width: 991px) {
        width: 65px;
        height: 65px;
        left: 0px;
        top: -23px;

        img {
          width: 53px;
          height: 53px;
          margin-top: 6px;
          margin-left: 6px;
        }
      }
    }

    .slogan-mobile {
      font-size: 18px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      text-transform: uppercase;
      margin-left: 75px;
      margin-top: -7px;

      a {
        color: #ffffff;

        &:hover {
          text-decoration: none;
        }
      }

      @media (max-width: 450px) {
        margin-top: -20px;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      padding-top: 18px;
      padding-bottom: 21px;
      padding-left: 13px;
      padding-right: 13px;

      @media (max-width: 991px) {
      }
    }

    .dropdown-toggle:after {
      background-image: url('../img/chevron-down.svg');
      background-repeat: no-repeat;
      width: 12px;
      height: 9px;
      border: 0px;
      margin-bottom: -2px;
      margin-left: 5px;
    }

    .dropdown-menu {
      box-shadow: 0 4px 12px 0 rgba(156, 174, 196, 0.11);
      border: solid 1px #dee7f3;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-top: 0px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding-top: 0px;
      min-width: 14rem;

      @media (max-width: 991px) {
        text-align: center;
        background-color: transparent;
        border-radius: 0px;
        border: 0px;
        box-shadow: 0 4px 12px 0 rgba(156, 174, 196, 0);
      }

      .nav-link {
        color: #000;
        padding-top: 9px;
        padding-bottom: 10px;

        @media (max-width: 991px) {
          color: #ffffff;
        }
      }
    }
  }
}

.searchForm {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) and (min-width: 992px) {
    display: none;
  }

  .search {
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
    border: 0px;
    padding: 0px;
    width: calc(100% - 40px);
    border-bottom: solid 1px #dee7f3;

    &:focus {
      outline: 0px;
    }
  }

  .submit {
    padding: 20px;
    margin: 0;
    background: url(../img/search.svg) no-repeat center;
    width: 26px;
    height: 26px;
    border: 0;
  }
}

.header {
  background-image: url('../img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  &__inner {
    display: flex;
  }
  &__logo {
    display: block;
    height: 72px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
}
.header__inner {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
  max-width: 1424px;
  margin: 0 auto;
}
.header__logo {
  display: block;
  height: 64px;
  width: 200px;
  min-width: 200px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.header__social {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__social a {
  display: block;
  height: 20px;
  width: 20px;
  opacity: 0.8;
}
.header__social img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__social a:last-child {
  width: 26px;
}
.header__social a:hover {
  opacity: 1;
}
.header__socialBox {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (min-width: 992px) {
  .mobileForm {
    display: none;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  .navbar-expand-lg {
    flex-flow: row nowrap;
    width: 100%;
  }
}
.dropdown-toggle::after {
  display: none;
}
@media (max-width: 992px) {
  .header__logo {
    height: 50px;
    width: 150px;
    min-width: 150px;
  }
  .nav-link {
    color: #fff !important;
  }
  .dropdown-menu .nav-link {
    color: #fff !important;
  }
  .dropdown-menu {
    background: transparent !important;
    text-align: center;
  }
  .header__socialBox {
    display: none;
  }
  .header__social {
    display: none;
  }
  .navbar {
    width: 100%;
    order: 2;
    padding: 0;
  }
  .navbar.show .header__socialBox {
    display: block;
  }
  .header__inner {
    flex-wrap: wrap;
    padding: 8px 0;
  }
}
