.second-head {
    background-color: $primary;
    padding-top: 10px;
    color: #fff;

    .container{
    &:after{
        content: "";
        display: block;
        width: calc(100% - 153px);
        height: 1px;
        background-color: rgba(255, 255, 255, 0.15);
        margin-left: auto;
        margin-top: 12px;
        @media (max-width: 1499px) {
            width: calc(100% - 145px);
        }
        @media (max-width: 1199px) {
            width: 100%;
        }
    }
}


    .external {
        @media (max-width: 1199px) {
            margin-left: 130px !important;
            margin-top: 10px;
        }
    }

    .social {
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .links {
        background-color: #ffffff;
        padding: 4px 28px 4px 15px;
        border-radius: 24px;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $primary;
        margin-right: 10px;


        background-image: url("../img/external-link.svg");
        background-repeat: no-repeat;
        background-position: right 10px top 8px;

        @include transition(all .4s ease-in-out);

        &:hover {
            text-decoration: none;
            -webkit-transform: scale(1.025);
            -ms-transform: scale(1.025);
            transform: scale(1.025);
        }
    }

    .head {
        font-size: 21px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-left: 154px;
        text-transform: uppercase;

        @media (max-width: 1500px) {
            margin-left: 145px;
        }

        @media (max-width: 1199px) {
            margin-left: 130px;
        }



        a {
            color: #ffffff;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

#main-nav {
    padding-top: 0px;
    padding-bottom: 0px;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
        padding: 0px;

    }

    .logo {
        position: relative;
        width: 311px;
        height: 1px;
        display: flex;

        @media (max-width: 1500px) {
            width: 259px;
        }

        @media (max-width: 1199px) {
            width: 1px;
        }
        @media (max-width: 991px) {
            width: 320px;
        }

        @media (max-width: 450px) {
            width: 200px;
        }

        .logo-link {
            display: block;
            width: 135px;
            height: 80px;
            position: absolute;
            top: -62px;
            left: 0px;
            z-index: 100;

            img {
                width: 100%;
                height: auto;
            }

            @media (max-width: 1500px) {
                width:110px;
                height: auto;
                left: 0px;
                top: -54px;
            }

            @media (max-width: 1199px) {
                width: 120px;
                height: auto;
                top: -100px;
                left: 0px;
            }

            @media (max-width: 991px) {
                width: 75px;
                height: auto;
                left: 0px;
                top: -22px;
            }
        }

        .slogan-mobile {
            font-size: 18px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            text-transform: uppercase;
            margin-left: 84px;
            margin-top: -7px;

            a {
                color: #ffffff;

                &:hover {
                    text-decoration: none;
                }
            }

            @media (max-width: 450px) {
                margin-top: -20px;
                font-size: 15px;
            }
        }
    }

    .navbar-nav {
        .nav-link {
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            padding-top: 18px;
            padding-bottom: 21px;
            padding-left: 13px;
            padding-right: 13px;

            @media (max-width: 991px) {}
        }

        .dropdown-toggle:after {
            background-image: url("../img/chevron-down-menu.svg");
            background-repeat: no-repeat;
            width: 12px;
            height: 9px;
            border: 0px;
            margin-bottom: -2px;
            margin-left: 5px;
        }

        .dropdown-menu {
            box-shadow: 0 4px 12px 0 rgba(156, 174, 196, 0.11);
            border: solid 1px #dee7f3;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            margin-top: 0px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-top: 0px;
            min-width: 14rem;

            @media (max-width: 991px) {
                text-align: center;
                background-color: transparent;
                border-radius: 0px;
                border: 0px;
                box-shadow: 0 4px 12px 0 rgba(156, 174, 196, 0);
            }

            .nav-link {
                color: #000;
                padding-top: 9px;
                padding-bottom: 10px;

                @media (max-width: 991px) {
                    color: #ffffff;

                }
            }



        }
    }
}


.searchForm {
    position: relative;
    width: 200px;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
        display: none;

    }

    .search {
        background-color: transparent;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 23px;
        border: 0px;
        padding: 0px;
        width: calc(100% - 40px);
        border-bottom: solid 1px #dee7f3;

        &:focus {
            outline: 0px;

        }
    }

    .submit {
        position: absolute;
        top: -10px;
        right: 0px;
        padding: 20px;
        margin: 0;
        background: url(../img/search.svg) no-repeat center;
        width: 26px;
        height: 26px;
        border: 0;
    }

}